/*##############################*/
/*BODY LAYER*/
/*##############################*/

/*APPEARANCE OF BACKGROUND AND EVERTHING IN THE BODY*/
body {
    background-image: url("thing3[PNG].png");
    background-repeat: repeat;
    background-position: center top;
    background-size: 20%;
    margin: 100px auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

/*##############################*/
/*MAIN LAYER*/
/*##############################*/

/*APPEARANCE OF THE HEADER'S*/
header {
    background-color: rgb(255, 240, 155);
    padding: 10px 0px 10px 0px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

/*APPEARANCE OF THE HEADER*/
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    text-align: center;
    color: black;
}

/*##############################*/
/*SECTION LAYER*/
/*##############################*/

/*TYPOGRAPHIC SYSTEMS*/
.section-one {
    border: 1px solid black;
    background-color: rgb(255, 240, 155);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*CARP POSTER*/
.section-two {
    border: 1px solid black;
    background-color: rgb(255, 240, 155);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*WORKSHEET WORK*/
.section-three {
    border: 1px solid black;
    background-color: rgb(255, 240, 155);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*REFLECTIVE WRITING*/
.section-four {
    border: 1px solid black;
    background-color: rgb(255, 240, 155);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*SUB HEADINGS*/
.section-five {
    background-color: rgb(255, 240, 155);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*##############################*/
/*P CLASS TEXT*/
/*##############################*/

/*APPEARANCE OF TEXT IN MOST OF THE MAIN BODY*/
.caption {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.sub-titles {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
}

/*##############################*/
/*CONTAINER LAYER*/
/*##############################*/

/*TYPOGRAPHIC SYSTEMS WORK*/
.container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

/*CARP POSTER 1 AND 3*/
.containerleft > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
}

/*CARP POSTER 2 AND THE FINAL CARP POSTER*/
.containerright > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
}

/*##############################*/
/*FIRST DIV CLASS LAYER*/
/*##############################*/

/*TYPOGRAPHIC SYSTEMS WORK*/
.typographic-systems > div {
    width: 283px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 16px;
}

/*CARP POSTER 1 AND 3*/
.carp-poster > div {
    width: 1000px;
    height: 650px;
    margin: 16px;
}

.screenshots-worksheets > div {
    width: 964px;
    margin: 16px;
}

/*##############################*/
/*IMAGE CLASS LAYER*/
/*##############################*/

/*THE TYPOGRAPHIC SYSTEMS*/
.typosym {
    width: 275px;
    height: 275px;
}

/*THE TYPOGRAPHIC SYSTEMS*/
.screenshotUno {
    width: 964px;
    height: 545px;
}

.screenshotDos {
    width: 964px;
    height: 4929px;
}

.screenshotTres {
    width: 964px;
    height: 4151px;
}

/*FIRST POSTER IDEA AND THIRD POSTER IDEA*/
.carpposter1 {
    width: 456px;
    height: 648px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

/*SECOND POSTER IDEA AND FINAL POSTER */
.carpposter2 {
    width: 458px;
    height: 648px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

/*##############################*/
/*IMAGE INFORMATION*/
/*##############################*/

img {
    border: 1px solid black;
}

/*##############################*/
/*BUTTON INFORMATION*/
/*##############################*/

/*PLACEMENT OF BUTTONS*/
.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/*MODDIFICATION OF BUTTON APPEARANCE*/
/*HELPED BY CHATGPT##################################################################*/
.container-navigation button a {
    text-decoration: none;
    color: inherit;
}

/*APPEARANCE OF THE BUTTON*/
button {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffc6d0;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
}

/*COLOUR OF BUTTON WHEN HOVERED OVER*/
button:hover {
    background-color: #eb92a2;
}

/*COLOUR OF BUTTON WHEN PRESSED*/
button:active {
    background-color: #c73e57;
}